#################################################
# SISTEMA OPERACIONAL
#################################################

.DS_Store
Thumbs.db
desktop.ini

#################################################
# NODE.JS
#################################################

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#################################################
# NESTJS
#################################################

dist/
coverage/
*.tsbuildinfo

#################################################
# REACT NATIVE / EXPO
#################################################

.expo/
.expo-shared/
android/
ios/

*.jks
*.p8
*.p12
*.key

#################################################
# LOGS
#################################################

logs/
*.log

#################################################
# AMBIENTE
#################################################

.env
.env.*
!.env.example

#################################################
# BANCO DE DADOS
#################################################

*.sqlite
*.db

#################################################
# REDIS
#################################################

dump.rdb

#################################################
# DOCKER
#################################################

docker-data/
docker-volumes/

#################################################
# CACHE
#################################################

.cache/
.tmp/
.temp/

#################################################
# TESTES
#################################################

coverage/
.nyc_output/

#################################################
# EDITORES
#################################################

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/

#################################################
# ARQUIVOS TEMPORÁRIOS
#################################################

*.tmp
*.swp
*.swo

#################################################
# BUILD
#################################################

build/
out/

#################################################
# CERTIFICADOS
#################################################

*.pem
*.crt
*.cer
*.key

#################################################
# UPLOADS
#################################################

uploads/
storage/

#################################################
# GERENCIADORES DE PACOTES
#################################################


pnpm-lock.yaml
yarn.lock

#################################################
# TURBO / NX
#################################################

.turbo/
.nx/

#################################################
# MISC
#################################################

*.pid
*.seed
*.pid.lock

#################################################
# DOCUMENTAÇÃO
#################################################

docs/.vitepress/cache/
docs/.vitepress/dist/